theme: minimal-mistakes-jekyll
title: 'MSc HCI - UPatras'
email: hcimaster@upatras.gr
description: 'unoficial web site' 
url: "https://upatras-hci.github.io/site/"
baseurl: "/site"
repository: "upatras-hci/site"
minimal_mistakes_skin: "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
search: true

# Build settings
markdown: kramdown

# Outputting
permalink: /:categories/:title/
paginate: 8 # amount of posts to show
paginate_path: /page:num/

incremental: true

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-include-cache

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/"

include:
  - _site/
exclude:
  - .sass-cache
  - Gemfile.lock
  - .jekyll-metadata
# Collections
collections:
  people:
    output: true
    permalink: /people/:path/
  courses:
    output: true
    permalink: /courses/:path/
  news:
    output: true
    permalink: /news/:path/
  pages:
    output: true
    permalink: /:path/
  
# Defaults
defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      sidebar: false
      layout: single
  # _people
  - scope:
      path: ""
      type: people
    values:
      sidebar: false
      layout: single   
  #_courses
  - scope:
      path: ""
      type: courses
    values:
      sidebar: true
      layout: courses 
  # _news
  - scope:
      path: ""
      type: news
    values:
      sidebar: false
      layout: single        

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
