---
# Only the main Sass file needs front matter (the dashes are enough)
---

// change sass varaibles
$sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$primary-color: black !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin    
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
    padding: 7em 0;
}


