---
# Only the main Sass file needs front matter (the dashes are enough)
---

// change sass varaibles
$sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$roboto: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$global-font-family: $roboto !default;
$primary-color: black !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin    
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
    padding: 7em 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-weight: 300;
}

.btn {
    font-weight: 500;
}
 .wide .page{
  @include breakpoint($large) {
    width: calc(100% - 0px);
  }

  @include breakpoint($x-large) {
    width: calc(100% - 0px);
    padding: 1em 9em;
  }
}
