---
layout: single
---
{% if page.excerpt %}
  <p>{{ page.excerpt }}</p>
{% endif %}

<table>
  <thead>
    <tr>
      <th>Κωδικός</th>
      <th>Εξάμηνο</th>
      <th>Τύπος</th>
      <th>ECTS</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
      <td align="center">{{ page.code }}</td>
      <td align="center">{{ page.semester }}</td>
      {% assign type = page.type %}
      {% for post in type %}
        {% if post == "Compulsory" %} 
         <td align="center"> Υποχρεωτικό</td>
        {% elsif post == "Optional" %}
          <td align="center"> Επιλογής</td>
        {% endif %} 
      {% endfor %}   
      <td align="center">{{ page.ects }}</td>
      <td align="center">{{ page.books }}</td>
  </tbody>
</table>

<a href="{{ page.uri }}" class="btn btn--success">E-class</a>

{{ content }}
