---
layout: single
classes: wide
---
{% if page.excerpt %}
  <p>{{ page.excerpt }}</p>
{% endif %}

<table>
  <thead>
    <tr>
      <th>Κωδικός</th>
      <th>Εξάμηνο</th>
      <th>Τύπος</th>
      <th>ECTS</th>
    </tr>
  </thead>
  <tbody>
      <td align="center">{{ page.code }}</td>
      <td align="center">{{ page.semester }}</td>
      {% assign category = "" %}
      {% if page.type == "Compulsory" %} 
        {% assign category = "Υποχρεωτικό" %}
      {% elsif page.type == "Optional" %}
        {% assign category = "Επιλογής" %}
      {% endif %}
      <td align="center">{{ category }}</td>
      <td align="center">{{ page.ects }}</td>
  </tbody>
</table>

<a href="{{ page.uri }}" class="btn btn--success">E-class</a>

{{ content }}
